<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

            <div class="container">
            </div>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index"> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="People" asp-action="Index"> People</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="ToDoItem" asp-action="Index"> ToDoItem</a>
                    </li>
                </ul>
            </div>

        </nav>


    </header>








    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>






    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.js"></script>




</body>
</html>
